.form_login {
  width: 30%;
  height: 80%;
  border: solid 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: rgba(0, 0, 0, 0.5);
}
.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/paul-fiedler-z4wuHkqnCPo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#logo {
  width: 50%;
  height: 90%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 70%;
  height: 100%;
  border-color: red;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: x-large;
  color: rgb(80, 240, 160);
  font-weight: bold;
}
.username,
.password {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: -5%;
}
input {
  width: 100%;
  height: 25%;
  margin-top: 2%;
  border-radius: 3%;
  border: solid 0.5px;
}
input:hover {
  border: solid 2.5px;
  border-color: dodgerblue;
}

button {
  margin-top: 9%;
  width: 45%;
  height: 9%;
  margin-bottom: 5%;
  font-size: x-large;
  border: none;
  border-radius: 8%;
  background-color: rgb(80, 240, 160);
  color: aliceblue;
}
